<launch>

    <!-- Arguments -->
    <arg name="chassis_model"   default="$(optenv LINGAO_MODEL MiniUGV-20A)"    doc="model type [MiniUGV-10A, MiniUGV-20A, LAUGV-50A ...]"/>
    <arg name="imu_type"        default="$(optenv LINGAO_IMU onboard_imu)"      doc="model type [zen_imu, sc_imu, onboard_imu]"/>
    <arg name="pub_odom_tf"     default="true"/>

    <!-- Start ROS communication between the lingao base -->
    <include file="$(find lingao_bringup)/launch/include/lingao_base_driver.launch" >
        <arg name="imu_type" value="$(arg imu_type)"/>
    </include>

    <!-- IMU Relay and Filter -->
    <include file="$(find lingao_bringup)/launch/include/imu.launch" >
        <arg name="chassis_model" value="$(arg chassis_model)"/>
        <arg name="imu_type" value="$(arg imu_type)"/>
    </include>

    <!-- Publish static transform from base_footprint to base_link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.05 0 0 0  /base_footprint /base_link"/>
    
    <!-- Odom-IMU Extended Kalman Filter-->
    <node if="$(arg pub_odom_tf)" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find lingao_bringup)/param/ekf/robot_localization.yaml" />
    </node>


</launch>
