<launch>

    <!-- Arguments -->
    <arg name="chassis_model"   default="$(optenv LINGAO_MODEL MiniUGV-20A)"    doc="model type [MiniUGV-10A, MiniUGV-20A, LAUGV-50A ...]"/>
    <arg name="lidar_type"      default="$(optenv LINGAO_LIDAR ltme02a)"        doc="model type [rplidar, ltme02a, rslidar ...]"/>
    <arg name="imu_type"        default="$(optenv LINGAO_IMU onboard_imu)"      doc="model type [zen_imu, sc_imu, onboard_imu]"/>
    <arg name="use_lidar"       default="true" />
    <arg name="use_camera"      default="false" />
    <arg name="pub_odom_tf"     default="true" />

    <!-- Start lingao bringup and IMU Filter -->
    <include file="$(find lingao_bringup)/launch/bringup.launch">
        <arg name="chassis_model"   value="$(arg chassis_model)"/>
        <arg name="imu_type"        value="$(arg imu_type)"/>
        <arg name="pub_odom_tf"     value="$(arg pub_odom_tf)"/>
    </include>

    <!-- Lidar Relay -->
    <include if="$(arg use_lidar)" file="$(find lingao_bringup)/launch/include/lidar.launch">
        <arg name="chassis_model"   value="$(arg chassis_model)"/>
        <arg name="lidar_type"        value="$(arg lidar_type)"/>
    </include>

    <!-- LingAo camera Relay -->
    <include if="$(arg use_camera)" file="$(find lingao_visual)/launch/lingao_depthcamera.launch">
        <arg name="chassis_model"   value="$(arg chassis_model)"/>
    </include>

    <!-- LingAo description -->
    <include file="$(find lingao_description)/launch/description.launch">
        <arg name="chassis_model"   value="$(arg chassis_model)"/>
    </include>
    
</launch>