<launch>
    <!-- Arguments -->
    <arg name="chassis_model" default="$(optenv LINGAO_MODEL MiniUGV-20A)" doc="model type [MiniUGV-10A, MiniUGV-20A, LAUGV-50A ...]"/>
    <arg name="imu_type" default="$(optenv LINGAO_IMU onboard_imu)" doc="model type [zen_imu, sc_imu, onboard_imu]"/>
    
    <include file="$(find lingao_bringup)/launch/include/imu/$(arg imu_type).launch" >
        <arg name="chassis_model" value="$(arg chassis_model)"/>
    </include>

</launch>