<launch>

    <arg name="imu_type" default="$(optenv LINGAO_IMU onboard_imu)" doc="model type [onboard_imu]"/>

    <!-- lingao base_driver -->
    <include file="$(find lingao_base)/launch/lingao_base_driver.launch">
        <arg name="use_imu" value="true"    if="$(eval imu_type == 'onboard_imu')"/>
        <arg name="use_imu" value="false"   unless="$(eval imu_type == 'onboard_imu')" />

        <arg name="linear_scale"        value="1.0"/>
        <arg name="angular_scale"       value="1.0" />
    </include>

</launch>
