<launch>

  <!-- Arguments -->
  <arg name="chassis_model"   default="$(optenv LINGAO_MODEL MiniUGV-20A)"    doc="model type [MiniUGV-10A, MiniUGV-20A, LAUGV-50A ...]"/>

  <!-- Load the URDF/Xacro model of our robot -->
  <arg name="model_xacro" default="$(find lingao_description)/urdf/MiniUGV_10A.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)" />

  <!-- Publish the robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
</launch>
