<launch>

  <!-- Arguments -->
  <arg name="chassis_model" default="$(optenv LINGAO_MODEL MiniUGV-20A)" doc="model type [MiniUGV-10A, MiniUGV-20A, LAUGV-50A ...]"/>

  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
  </node>
  
  <!-- Publish static transform of the laser. Define your sensor offset here -->
  <node pkg="tf2_ros" if="$(eval chassis_model == 'MiniUGV-20A-3D')" type="static_transform_publisher" name="base_link_to_laser" args="0.053 0 0.354 0 0 0  /base_link /laser_link"/>

</launch>